<!DOCTYPE html>
<html>
  <head>
    <title>Lucie Šídová | psychoterapie, poradenství</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/flickity.css" />
    <link rel="stylesheet" href="vendor/css/all.css" />
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous"> -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"
    ></script>
    <script type="text/javascript" src="vendor/flickity.pkgd.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="navbar">
      <h1>Lucie Šídová</h1>
      <ul class="navbar__menu">
        <li class="navbar__menu__item"><a href="#">Služby</a></li>
        <li class="navbar__menu__item"><a href="#">O mně</a></li>
        <li class="navbar__menu__item"><a href="#">Kontakt</a></li>
      </ul>
    </nav>
    <nav class="navbar-small" id="app">
      <button class="navbar--small__menu-btn" v-on:click="toggleMenu">
        Menu
      </button>
      <div
        class="navbar--small__popmenu"
        v-bind:style="{'display' : (isActive ? 'none' : 'block')}"
      >
        <ul class="navbar--small__popmenu__menu">
          <button class="navbar--small__menu-btn" v-on:click="toggleMenu">
            {{button.text}}
          </button>
          <li class="menu__item"><a href="#">Služby</a></li>
          <li class="menu__item"><a href="#">O mně</a></li>
          <li class="menu__item"><a href="#">Kontakt</a></li>
        </ul>
      </div>
    </nav>
    <header class="intro">
      <h1>
        <span class="intro__void-first">Lucie</span
        ><span class="intro__void-second">Šídová</span>
      </h1>
      <h2>psychoterapie | poradenství | koučink</h2>
      <video class="intro__background_video" autoplay muted loop src="src/vid/Background_video.mp4"
        type="video/mp4" ></video>
    </header>
    <main>
      <section class="text">
        <h2><em>Kdy mě oslovit?</em></h2>
        <p>
          <strong> Kdykoliv, kdy Vám není dobře po psychické stránce. 
            Věnuji se individuální terapii, poradenství a koučování. </strong
          >Ve své práci využívám zejména
          metodu Biosyntézy a psychodynamický přístup. Pomohu vám řešit vztahové problémy s okolím, ale také vaše vnitřní konflikty a traumata. 
          Věnuji se různým tématům jako jsou např. osobní rozvoj a růst, náročné životní situace,
          traumatické zkušenosti, vztahy, rodinné problémy, sexualitě či tématům
          spojeným s domácím a sexuálním násilím.
        </p>
      </section>
      <section class="services" id="services">
        <services-tile
        v-for="item in items"
        v-bind:key="item.id"
        v-bind:header="item.header"
        v-bind:message="item.message"
        ></services-tile>
      </section>
      <section class="kontakt">
        <address class="kontakt__details">
          <div class="kontakt__details__phone">
            <i class="fas fa-phone-alt"></i>
            <h3>+420 777 028 028</h3>
          </div>
          <div class="kontakt__details__email">
            <i class="fas fa-envelope"></i>
            <h3>lucie.sidova@gmail.com</h3>
          </div>
        </address>
        <form action="/submit" @submit.prevent="submitForm" method="post" class="kontakt__form" id="form">
          <h2>Napište mi</h2>
          <div class="kontakt__form__container" v-if="isHidden">
          <div class="kontakt__form__container__field">
            <label for="name">Jméno</label>
            <input type="text" id="name" name="name" v-model="contact.name" required>
          </div>
         
          <div class="kontakt__form__container__field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" v-model="contact.email" required>
          </div>
          <div class="kontakt__form__container__field">
            <label for="message">S čím Vám mohu pomoci</label>
            <textarea type="text" id="message" name="message" v-model="contact.message"></textarea>
          </div>
          <!-- <div class="g-recaptcha" data-sitekey="6Le4UgUaAAAAAMdkXFJcxMXewGzk57UbPGGKvjXt"></div> -->
          <button type="submit">Odeslat</button>
          </div>
          <div class="kontakt__form__success" v-if="!isHidden">
            <h2>Děkuji!</h2>
            <p>A je to! Udělali jste první krok. Nyní prosím o chvíli strpení, ozvu se Vám co nejdříve.</p></div>
        </form>
      </section>
      <section class="cenik">
        <h2>Ceník</h2>
        <p>Terapie je možná i online. Nicméně preferuji osobní setkání.</p>
        <p><span>800,- Kč</span>(50 minut)</p>
      </section>
      <section class="about">
        <h2>O mně</h2>
        <p>Jako lektorka přednáším téma sexuality lidí s hendikepem, seniorů a seniorek v sociálních, zdravotních a školských zařízeních.</p>
        <p>Spoluorganizuji vzdělávací workshopy pro rodiče, kteří pečují o dítě se znevýhodněním. Nabízím individuální terapii i poradenství těmto rodičům či sourozencům dětí se znevýhodněním.</p>
        <p>Jsem členkou Českého institutu biosyntézy.</p>
        <p>Pracuji pod supervizí MUDr.. Aleny Procházkové - Večeřové.</p>
      <article class="about__curriculum">
      <h3>Terapeutické výcviky a kurzy</h3>
      <ul>
        <li>Psychoterapeutický výcvik v biosyntéze – supervizní část, Český institut biosyntézy (dále ČIB)</li>
        <li>Základní psychoterapeutický výcvik v biosyntéze, ČIB</li>
        <li>Psychoterapeutické minimum, ČIB</li>
        <li>Somatický koučink, ČIB</li>
        <li>Pražská škola psychosociálních studií, Sebezkušenostní psychoterapeutický výcvik</li>
        <li>Trauma I. a II., Remedium</li>
        <li>Komplexní kurz krizové intervence (základní, navazující, telefonický), Remedium</li>
        <li>Výcvik v internetovém poradenství, Modrá linka</li>
        <li>Motivační rozhovory, Jan Soukup</li>
        <li>Výklad snů, Pražská škola psychosociálních studií</li>
        <li>Lege Artis postupy v psychoterapii, Pražská škola psychosociálních studií</li>
      </ul>
      <h3>Profesní kariéra</h3>  
        <ul>
          <li>2016 – doposud	Spoluzakladatelka organizace Freya, z. s. – lektorka, psychoterapeutka, koučka – nezisková organizace zabývající se tématem sexuality a vztahů u lidí se znevýhodněním, seniorů a seniorek.
            </li>
          <li>2008 – doposud	Soukromá psychoterapeutická praxe.</li>
          <li>2016 – 2018	Péče o psychoterapeutický tým Sociální kliniky, ČIB.</li>
          <li>2008 – 2016	Rozkoš bez Rizika, z. s., Nezisková organizace pracující se ženami ze sexbyznysu. Výkonná ředitelka, terapeutka, streetworkerka.</li>
        </ul>
      </article>
      </section>
    </main>
    <footer>
    <address>
      Palác YMCA, Na Poříčí 12, Praha 1, 110 00, 2. patro, zvonek Freya.
      Moje IČ:  72772352
      Číslo účtu – 2301855634/2010
      Kontakt: lucie.sidova@gmail.com
      Tel: 777 028 028
    </address>
  </footer>
    <script type="module" src="index.js"></script>
    <script src="flickity.js"></script>
  </body>
</html>
