@use "intro";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: intro.$sand;
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
  margin: -2rem 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: intro.$text-color;

  @include intro.breakpoint(tablet) {
    h2 {
      align-self: center;
    }
    align-items: flex-start;
  }

  @include intro.breakpoint(laptop) {
    background-color: intro.$light-blue;
  }

  p {
    margin: 0;
  }
  &__terapie,
  &__kariera {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: intro.$raleway;
    font-size: 1.3rem;

    h3 {
      display: block;
      padding: 0 1rem;
    }

    ul {
      li {
        padding: 0.3rem 1rem;
      }
    }
  }

  &__kariera {
    ul {
      list-style: none;
      padding-left: 0;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        padding-left: 1.5rem;

        span {
          font-size: 2rem;
          padding-bottom: 1rem;
          padding-left: 0;
        }
      }
    }
  }
}
