@use "intro";

.kontakt {
  background-color: intro.$sand;
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
  padding-top: 3rem;
  margin-top: -2rem;
  padding-bottom: 5rem;
  color: intro.$text-color;

  @include intro.breakpoint(laptop) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;

    p {
      max-width: 25rem;
      font-size: 1.8rem;
      text-align: center;
    }
  }

  &__details {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include intro.breakpoint(laptop) {
      justify-content: flex-start;
      margin-top: 4rem;
    }

    &__phone,
    &__email {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include intro.breakpoint(laptop) {
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        background-color: rgba(intro.$gold, 0.4);
        text-align: center;
      }

      i {
        font-size: 4rem;
        color: intro.$dark-pink;
      }

      h3 {
        font-size: 1.6rem;
        color: intro.$text-color;
      }
    }

    &__phone {
      margin-bottom: 2rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &__field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        font-family: intro.$raleway;
        margin: 2rem 0 1rem 1rem;
        color: intro.$text-color;

        :focus {
          box-shadow: 0px 0px 5px 4px intro.$dark-pink;
        }

        label {
          align-self: flex-start;
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
        }

        input,
        textarea {
          box-sizing: border-box;
          width: 100%;
          padding: 1.6rem 0 0.3rem 0;
          font-family: inherit;
          font-size: 1.4rem;
          background-color: rgba(intro.$gold, 0.4);
          border: 0;
          border-bottom: 0.1rem solid intro.$text-color;
        }

        input {
          @include intro.breakpoint(tablet) {
            padding: 0.5rem 0.3rem;
          }
        }

        textarea {
          @include intro.breakpoint(tablet) {
            padding: 0.3rem 0;
            height: 8rem;
          }
        }
      }
    }

    button {
      align-self: center;
      width: 60%;
      background-color: intro.$dark-pink;
      color: white;
      font-family: inherit;
      font-size: 1.5rem;
      padding: 0.5rem 0;
      border: 0;
      margin-top: 1rem;

      &:hover {
        transform: scale(1.1);
        background-color: transparent;
        border: 1px solid intro.$dark-pink;
        color: intro.$dark-pink;
      }

      &:active {
        background-color: intro.$dark-pink;
        color: white;
      }
    }

    &__success {
      display: flex;
      flex-direction: column;
      background-color: intro.$light-blue;
      margin-top: 2rem;
    }
  }
}
