@use 'intro';

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  z-index: 20;

  @include intro.breakpoint(laptop) {
    max-width: 95rem;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-family: intro.$dancing;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    text-align: center;

    @include intro.breakpoint(laptop) {
      font-size: 3.8rem;
    }
  }

  p {
    font-family: intro.$raleway;
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 1.3rem;
    max-width: 47rem;
  }

  section.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: intro.$sand;
    padding: 0;
    color: intro.$text-color;

    @include intro.breakpoint(laptop) {
      clip-path: none;
      background-color: intro.$sand;
    }
  }

  .text__text-container {
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: 0;
    }
    &__list {
      margin: 0;
      font-family: intro.$raleway;
      font-size: 1.3rem;
      line-height: 2rem;
      li {
        padding: 0.2rem;
        padding-right: 0.5rem;
      }
    }

    &__citation {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      width: 60%;
      max-width: 28rem;
      margin-top: 2rem;
      margin-bottom: 4rem;
      font-size: 1rem;
      padding: 0.5rem;
      font-family: intro.$raleway;
      box-shadow: 8px 8px 10px 1px intro.$dark-pink;

      @include intro.breakpoint(tablet) {
        font-size: 1.8rem;
      }

      &__author {
        align-self: flex-end;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        @include intro.breakpoint(tablet) {
          font-size: 1.4rem;
        }
      }
    }
  }

  section.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: intro.$light-blue;
    clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
    margin-top: -2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    @include intro.breakpoint(laptop) {
      padding-bottom: 8rem;
      clip-path: none;
    }

    .services__tile {
      background-color: intro.$light-blue;
      display: flex;
      flex-direction: column;
      width: 90%;
      border-radius: 1rem;

      @include intro.breakpoint(laptop) {
        align-items: center;
      }

      &__h3container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        @include intro.breakpoint(laptop) {
          align-items: center;
        }

        &__laptop {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: nowrap;
          width: 100%;

          @include intro.breakpoint(laptop) {
            width: 26rem;
          }

          h3 {
            font-family: intro.$dancing;
            font-weight: 300;
            font-size: 2.5rem;
            margin: 1rem 0;
            color: intro.$text-color;
            flex-basis: 70%;

            @include intro.breakpoint(laptop) {
              flex-basis: 100%;
            }
          }

          span {
            display: block;
            align-self: flex-end;
            color: intro.$dark-pink;
            font-family: intro.$raleway;
            font-size: 4rem;
            flex-basis: 20%;
            cursor: pointer;
          }
        }

        hr {
          flex-basis: 100%;
          align-self: flex-start;
          width: 80%;
          border: 1px solid white;
        }
      }

      &__details {
        display: none;
        max-width: 35rem;
        font-family: intro.$raleway;
        color: intro.$text-color;
        font-size: 1.2rem;
        padding: 1rem 2rem;

        p {
          margin: 0;
        }

        li {
          padding: 1rem 0;
          font-size: 1.3rem;
          line-height: 1.8rem;
        }

        @include intro.breakpoint(phablet) {
          font-size: 1.4rem;
        }

        @include intro.breakpoint(desktop) {
          max-width: 47rem;
        }
      }
    }
  }
}
