@use 'intro';

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: -5rem;
  width: 100%;
  position: relative;
  z-index: 20;

  @include intro.breakpoint(laptop) {
    max-width: 95rem;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-family: intro.$dancing;
    font-size: 3.5rem;
    text-align: center;
  }

  p {
    font-family: intro.$raleway;
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 1.5rem;
  }

  section.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: intro.$sand;
    padding: 3.5rem 0;
    clip-path: polygon(0 0, 100% 2rem, 100% 100%, 0% 100%);
    color: intro.$text-color;

    @include intro.breakpoint(laptop) {
      clip-path: none;
      background-color: intro.$sand;
    }

    @include intro.breakpoint(desktop) {
      background-color: transparent;
    }
  }

  .text__text-container {
    @include intro.breakpoint(laptop) {
      margin-top: -10rem;
      width: 70%;
      max-width: 47rem;
      border-radius: 2rem;
      background-color: rgba(intro.$light-blue, 0.3);
      backdrop-filter: blur(1rem);
    }

    @include intro.breakpoint(desktop) {
      margin-top: -18rem;
    }
  }

  section.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: intro.$light-blue;
    clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
    margin-top: -2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    @include intro.breakpoint(laptop) {
      padding-bottom: 8rem;
      clip-path: none;
    }

    .services__tile {
      background-color: intro.$light-blue;
      display: flex;
      flex-direction: column;
      width: 90%;
      border-radius: 1rem;

      @include intro.breakpoint(laptop) {
        align-items: center;
      }

      &__h3container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        @include intro.breakpoint(laptop) {
          align-items: center;
        }

        &__laptop {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: nowrap;
          width: 100%;

          @include intro.breakpoint(laptop) {
            width: 26rem;
          }

          h3 {
            font-family: intro.$dancing;
            font-weight: 300;
            font-size: 2.5rem;
            margin: 1rem 0;
            color: intro.$text-color;
            flex-basis: 70%;

            @include intro.breakpoint(laptop) {
              flex-basis: 100%;
            }
          }

          span {
            display: block;
            align-self: flex-end;
            color: intro.$dark-pink;
            font-family: intro.$raleway;
            font-size: 4rem;
            flex-basis: 20%;
            cursor: pointer;
          }
        }

        hr {
          flex-basis: 100%;
          align-self: flex-start;
          width: 80%;
          border: 1px solid white;
        }
      }

      p {
        display: none;
        color: intro.$text-color;
        font-size: 1.2rem;
        padding: 1rem 2rem;

        @include intro.breakpoint(phablet) {
          font-size: 1.4rem;
        }

        @include intro.breakpoint(desktop) {
          max-width: 47rem;
        }
      }
    }
  }
}
