@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding: 0 3rem;
}
.navbar h1 {
  font-family: "Dancing script";
  color: #145C5B;
  font-size: 2rem;
}
.navbar__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.navbar__menu__item {
  font-family: "Raleway";
  font-size: 1.3rem;
  padding: 0 2rem;
  color: #145C5B;
  list-style: none;
}
.navbar__menu__item a {
  text-decoration: none;
  color: #145C5B;
  cursor: pointer;
}
.navbar__menu__item a:visited a:visited a:active {
  color: #145C5B;
}

.navbar--small__menu-btn {
  position: fixed;
  display: block;
  left: 70%;
  top: 1.5rem;
  z-index: 1000;
  font-family: "Raleway";
  font-size: 1.3rem;
  border: none;
  background-color: #CC85BB;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}
.navbar--small__popmenu {
  display: none;
  position: fixed;
  width: 100%;
  height: 65%;
  max-height: 25rem;
  background-color: #ebe1b2;
  z-index: 100;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.navbar--small__popmenu a {
  text-decoration: none;
  color: #145C5B;
  cursor: pointer;
}
.navbar--small__popmenu__menu {
  display: flex;
  width: 100%;
  height: 70%;
  margin: 4.5rem 0 0 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-family: "Raleway";
  color: #145C5B;
  font-size: 1.8rem;
  line-height: 5rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 95vh;
  min-height: 20rem;
  max-height: 40rem;
  background: no-repeat url("../src/img/Background_still_sm2.png");
  background-position: center;
  background-size: cover;
}
.intro h1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  top: 10%;
  font-family: "Dancing script";
  font-size: 5.6rem;
  padding: 0 -2rem;
  text-align: center;
  color: #145C5B;
}
.intro__void {
  display: block;
}
.intro__void-second {
  margin-top: 1.3rem;
  align-self: flex-end;
  padding-right: 1rem;
}
.intro h2 {
  position: absolute;
  display: block;
  text-align: center;
  top: 60%;
  padding: 1rem;
  letter-spacing: 0.2rem;
  color: #145C5B;
  font-family: "Raleway";
  font-style: italic;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.intro__background_video {
  width: 100%;
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: -5rem;
  width: 100%;
  position: relative;
}
main h2 {
  font-family: "Dancing script";
  font-size: 3.5rem;
  text-align: center;
}
main p {
  font-family: "Raleway";
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 1.5rem;
}
main section.text {
  background-color: #F2EFDF;
  padding: 3.5rem 0;
  clip-path: polygon(0 0, 100% 2rem, 100% 100%, 0% 100%);
  color: #145C5B;
}
main section.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #A2E0DF;
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
  margin-top: -2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
main section.services .services__tile {
  background-color: #A2E0DF;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 1rem;
}
main section.services .services__tile__h3container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
main section.services .services__tile__h3container h3 {
  font-family: "Dancing script";
  font-weight: 300;
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #145C5B;
  flex-basis: 70%;
}
main section.services .services__tile__h3container span {
  display: block;
  align-self: flex-end;
  color: #CC85BB;
  font-family: "Raleway";
  font-size: 4rem;
  flex-basis: 20%;
  cursor: pointer;
}
main section.services .services__tile__h3container hr {
  flex-basis: 100%;
  width: 80%;
  border: 1px solid white;
}
main section.services .services__tile p {
  display: none;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.kontakt {
  background-color: #F2EFDF;
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
  padding-top: 3rem;
  margin-top: -2rem;
  padding-bottom: 5rem;
}
.kontakt__details {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kontakt__details__phone, .kontakt__details__email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kontakt__details__phone i, .kontakt__details__email i {
  font-size: 4rem;
  color: #CC85BB;
}
.kontakt__details__phone h3, .kontakt__details__email h3 {
  font-size: 1.6rem;
  color: #145C5B;
}
.kontakt__details__phone {
  margin-bottom: 2rem;
}
.kontakt__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
.kontakt__form h2 {
  color: #145C5B;
  margin-bottom: 0;
}
.kontakt__form__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.kontakt__form__container__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  font-family: "Raleway";
  margin: 2rem 0 1rem 1rem;
  color: #145C5B;
}
.kontakt__form__container__field label {
  align-self: flex-start;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.kontakt__form__container__field input, .kontakt__form__container__field textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 1.6rem 0 0.3rem 0;
  font-family: inherit;
  font-size: 1.4rem;
  background-color: rgba(235, 225, 178, 0.4);
  border: 0;
  border-bottom: 0.1rem solid #145C5B;
}
.kontakt__form button {
  align-self: center;
  width: 60%;
  background-color: #CC85BB;
  color: white;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  border: 0;
}
.kontakt__form__success {
  display: flex;
  flex-direction: column;
  background-color: #A2E0DF;
  margin-top: 2rem;
}

.cenik {
  background-color: #A2E0DF;
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
  margin-top: -2rem;
  padding-bottom: 5rem;
  color: #145C5B;
}
.cenik h2 {
  margin-bottom: 0;
}
.cenik p:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.cenik span {
  font-size: 3rem;
  font-family: "Raleway";
  font-weight: 700;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2EFDF;
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
  margin: -2rem 0;
  padding-top: 2rem;
  padding-bottom: 5rem;
  color: #145C5B;
}
.about p {
  margin: 0;
}
.about__curriculum {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway";
  font-size: 1.3rem;
}
.about__curriculum h3 {
  display: block;
  padding: 0 1rem;
}
.about__curriculum ul li {
  padding: 0.3rem 1rem;
}

footer {
  background-color: #EBE1B2;
  border-radius: 2rem 2rem 0 0;
  position: absolute;
}
footer address {
  padding: 1.5rem;
}
