@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 3rem;
  width: 100%;
}
@media (min-width: 850px) {
  .navbar {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #a2e0df;
    padding: 0 1rem;
    z-index: 10;
  }
}
.navbar__header h1 {
  font-family: "Dancing script";
  color: #145c5c;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
.navbar__header h2 {
  font-family: "Raleway";
  font-size: 0.8rem;
  color: #145c5c;
  margin: 0.1rem 0;
  padding: 0;
}
.navbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 650px) {
  .navbar__menu {
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    margin-right: 2%;
  }
}
.navbar__menu__item {
  font-family: "Raleway";
  font-size: 1.3rem;
  padding: 0 2rem;
  color: #145c5c;
  list-style: none;
}
@media (min-width: 650px) {
  .navbar__menu__item {
    padding: 0 1rem;
  }
}
.navbar__menu__item a {
  text-decoration: none;
  color: #145c5c;
  cursor: pointer;
}
.navbar__menu__item a:visited a:visited a:active {
  color: #145c5c;
}

.navbar--small__menu-btn {
  position: fixed;
  display: block;
  right: 2rem;
  top: 1.5rem;
  z-index: 1000;
  font-family: "Raleway";
  font-size: 1.3rem;
  border: none;
  background-color: #cc85bb;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}
@media (min-width: 850px) {
  .navbar--small__menu-btn {
    display: none;
  }
}
.navbar--small__popmenu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 25rem;
  background-color: #ebe1b2;
  z-index: 100;
}
.navbar--small__popmenu a {
  text-decoration: none;
  color: #145c5c;
  cursor: pointer;
}
.navbar--small__popmenu__menu {
  display: flex;
  width: 100%;
  height: 70%;
  margin: 4.5rem 0 0 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-family: "Raleway";
  color: #145c5c;
  font-size: 1.8rem;
  line-height: 5rem;
}
@media (min-width: 421px) {
  .navbar--small__popmenu__menu {
    margin-top: 0.3rem;
  }
}
@media (min-width: 650px) {
  .navbar--small__popmenu__menu {
    margin-top: 3rem;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 95vh;
  min-height: 20rem;
  max-height: 40rem;
  background: no-repeat url("../src/img/Background_still_sm2.png");
  background-position: center;
  background-size: cover;
}
@media (min-width: 421px) {
  .intro {
    height: 30rem;
  }
}
@media (min-width: 850px) {
  .intro {
    height: 90vh;
    max-height: 30rem;
    background: none;
  }
}
.intro h1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  font-family: "Dancing script";
  font-size: 5.6rem;
  text-align: center;
  color: #145c5c;
}
@media (min-width: 421px) {
  .intro h1 {
    margin-top: 1rem;
  }
}
@media (min-width: 850px) {
  .intro h1 {
    display: none;
  }
}
.intro__void {
  display: block;
}
.intro__void-second {
  margin-top: 1.3rem;
  align-self: flex-end;
  padding-right: 1rem;
}
@media (min-width: 421px) {
  .intro__void-second {
    align-self: center;
  }
}
.intro h2 {
  position: absolute;
  display: block;
  text-align: center;
  top: 55%;
  padding: 1rem;
  letter-spacing: 0.2rem;
  color: #145c5c;
  font-family: "Raleway";
  font-style: italic;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
@media (min-width: 850px) {
  .intro h2 {
    display: none;
  }
}
.intro__background_video {
  width: 100%;
  display: none;
}
@media (min-width: 850px) {
  .intro__background_video {
    display: flex;
    filter: opacity(80%);
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: -5rem;
  width: 100%;
  position: relative;
}
@media (min-width: 850px) {
  main {
    margin: 0 auto;
    max-width: 80rem;
  }
}
main h2 {
  font-family: "Dancing script";
  font-size: 3.5rem;
  text-align: center;
}
main p {
  font-family: "Raleway";
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 1.5rem;
}
main section.text {
  background-color: #f2efdf;
  padding: 3.5rem 0;
  clip-path: polygon(0 0, 100% 2rem, 100% 100%, 0% 100%);
  color: #145c5c;
}
@media (min-width: 850px) {
  main section.text {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 850px) {
  main .text__text-container {
    margin-top: -12rem;
    width: 70%;
    max-width: 47rem;
    border-radius: 2rem;
    background-color: rgba(162, 224, 223, 0.3);
    backdrop-filter: blur(1rem);
  }
}
main section.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a2e0df;
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
  margin-top: -2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (min-width: 850px) {
  main section.services {
    padding-bottom: 8rem;
  }
}
main section.services .services__tile {
  background-color: #a2e0df;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 1rem;
}
@media (min-width: 850px) {
  main section.services .services__tile {
    flex-direction: row;
    position: relative;
  }
}
main section.services .services__tile__h3container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
main section.services .services__tile__h3container__laptop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}
@media (min-width: 850px) {
  main section.services .services__tile__h3container__laptop {
    width: 24rem;
  }
}
main section.services .services__tile__h3container__laptop h3 {
  font-family: "Dancing script";
  font-weight: 300;
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #145c5c;
  flex-basis: 70%;
}
@media (min-width: 850px) {
  main section.services .services__tile__h3container__laptop h3 {
    flex-basis: 100%;
  }
}
main section.services .services__tile__h3container__laptop span {
  display: block;
  align-self: flex-end;
  color: #cc85bb;
  font-family: "Raleway";
  font-size: 4rem;
  flex-basis: 20%;
  cursor: pointer;
}
main section.services .services__tile__h3container hr {
  flex-basis: 100%;
  width: 80%;
  border: 1px solid white;
}
main section.services .services__tile p {
  display: none;
  color: #145c5c;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}
@media (min-width: 421px) {
  main section.services .services__tile p {
    font-size: 1.4rem;
  }
}

.kontakt {
  background-color: #f2efdf;
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
  padding-top: 3rem;
  margin-top: -2rem;
  padding-bottom: 5rem;
  color: #145c5c;
}
@media (min-width: 850px) {
  .kontakt {
    display: flex;
    justify-content: space-evenly;
  }
}
.kontakt__details {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 850px) {
  .kontakt__details {
    justify-content: flex-start;
    margin-top: 4rem;
  }
}
.kontakt__details__phone, .kontakt__details__email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 850px) {
  .kontakt__details__phone, .kontakt__details__email {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background-color: rgba(235, 225, 178, 0.4);
    text-align: center;
  }
}
.kontakt__details__phone i, .kontakt__details__email i {
  font-size: 4rem;
  color: #cc85bb;
}
.kontakt__details__phone h3, .kontakt__details__email h3 {
  font-size: 1.6rem;
  color: #145c5c;
}
.kontakt__details__phone {
  margin-bottom: 2rem;
}
.kontakt__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
.kontakt__form h2 {
  color: #145c5c;
  margin-bottom: 0;
}
@media (min-width: 850px) {
  .kontakt__form h2 {
    display: none;
  }
}
.kontakt__form__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.kontakt__form__container__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  font-family: "Raleway";
  margin: 2rem 0 1rem 1rem;
  color: #145c5c;
}
.kontakt__form__container__field label {
  align-self: flex-start;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.kontakt__form__container__field input,
.kontakt__form__container__field textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 1.6rem 0 0.3rem 0;
  font-family: inherit;
  font-size: 1.4rem;
  background-color: rgba(235, 225, 178, 0.4);
  border: 0;
  border-bottom: 0.1rem solid #145c5c;
}
@media (min-width: 650px) {
  .kontakt__form__container__field input {
    padding: 0.5rem 0.3rem;
  }
}
@media (min-width: 650px) {
  .kontakt__form__container__field textarea {
    padding: 0.3rem 0;
    height: 8rem;
  }
}
.kontakt__form button {
  align-self: center;
  width: 60%;
  background-color: #cc85bb;
  color: white;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  border: 0;
  margin-top: 1rem;
}
.kontakt__form__success {
  display: flex;
  flex-direction: column;
  background-color: #a2e0df;
  margin-top: 2rem;
}

.cenik {
  background-color: #a2e0df;
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
  margin-top: -2rem;
  padding-bottom: 5rem;
  color: #145c5c;
}
@media (min-width: 650px) {
  .cenik p {
    text-align: center;
  }
}
@media (min-width: 850px) {
  .cenik {
    display: none;
  }
}
.cenik h2 {
  margin-bottom: 0;
}
.cenik p:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.cenik span {
  font-size: 3rem;
  font-family: "Raleway";
  font-weight: 700;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2efdf;
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0% 100%);
  margin: -2rem 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #145c5c;
}
@media (min-width: 650px) {
  .about {
    align-items: flex-start;
  }
  .about h2 {
    align-self: center;
  }
}
@media (min-width: 850px) {
  .about {
    background-color: #a2e0df;
    align-items: center;
    columns: 2;
  }
}
.about p {
  margin: 0;
}
@media (min-width: 850px) {
  .about p {
    max-width: 47rem;
  }
}
.about__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.about__container__terapie, .about__container__kariera {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway";
  font-size: 1.3rem;
  flex-basis: 45%;
}
.about__container__terapie h3, .about__container__kariera h3 {
  display: block;
  padding: 0 1rem;
}
.about__container__terapie ul li, .about__container__kariera ul li {
  padding: 0.3rem 1rem;
}
@media (min-width: 850px) {
  .about__container__terapie, .about__container__kariera {
    max-width: 47rem;
  }
}
.about__container__kariera ul {
  list-style: none;
  padding-left: 0;
}
.about__container__kariera ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
}
.about__container__kariera ul li span {
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-left: 0;
}

footer {
  background-color: #ebe1b2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem 0;
  font-family: "Raleway";
  font-size: 1.3rem;
}
footer address,
footer .footer__details {
  padding: 0 1rem;
  width: 90%;
}
